$color-bg-body: #f4f4f5;
$color-bg-body-dark: #18181b;
$color-text: #262626;
$color-text-dark: #e0e6f0;
$color-bg-default: #fafafa;
$color-bg-default-dark: #27272a;
$color-bg-default-hover: #e2e8f0;
$color-bg-default-hover-dark: #334155;

* {
  --color-bg-body: #{$color-bg-body};
  --color-bg-body-dark: #{$color-bg-body-dark};
  --color-text: #{$color-text};
  --color-text-dark: #{$color-text-dark};
  --color-bg-default: #{$color-bg-default};
  --color-bg-default-dark: #{$color-bg-default-dark};
  --color-bg-default-hover: #{$color-bg-default-hover};
  --color-bg-default-hover-dark: #{$color-bg-default-hover-dark};
}
