@import "markdown";

// https://gist.github.com/spemer/a0e218bbb45433bd611e68446523a00b
body::-webkit-scrollbar {
  @apply bg-[--color-bg-body] dark:bg-[--color-bg-body-dark] w-2;
}
body::-webkit-scrollbar-track {
  @apply bg-[--color-bg-body] dark:bg-[--color-bg-body-dark];
}
body::-webkit-scrollbar-thumb {
  @apply bg-[#babac0] dark:bg-[#919396] rounded-2xl;
  @apply border-4 border-[--color-bg-body] dark:border-[--color-bg-body-dark];
}
body::-webkit-scrollbar-button {
  @apply hidden;
}

html {
  @apply font-sans;
}
html[lang=zh-CN] {
  @apply font-sans-sc;
}
html[lang=zh-TW] {
  @apply font-sans-tc;
}

body {
  @apply text-base bg-gray-200/60 text-gray-900;
  @apply dark:bg-black dark:text-gray-100;
}

.bg-default {
  @apply bg-gray-50/90 dark:bg-gray-800/80;
}

.card {
  @apply shadow-md rounded-md p-4 flex flex-col gap-2 overflow-x-hidden border-gray-300 dark:border-gray-800;
}

.link-box {
  @apply hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-150;

  &.active {
    @apply bg-primary-500 text-gray-100 dark:hover:bg-primary-500;
  }
}

.a-link {
  @apply text-primary-500 hover:underline transition-colors;
}
